<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
    <head>
        <title>RabbitMQ Queues</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="col-xs-12">
                <h2>Exchanges</h2>
                <p th:if="${#lists.isEmpty(exchanges)}" th:text="'No Exchanges.'">No Exchanges.</p>
                <div th:unless="${#lists.isEmpty(exchanges)}" class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exchange : ${exchanges}" >
                                <td th:text="${exchange}">Name</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>